body {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

.left-section {
  background-color: #1E9CF1;
  color: white;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 50px;
}

.left-section h1 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 3em;
}

.left-section p {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.left-section footer {
  font-size: 20px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login-container {
  width: 80%;
  position: relative;
  top: 70px;
  left: 20px;
}

.twitter-logo {
  float: left;
  width: 5em;
  margin-right: 150px;
  position: relative;
  bottom:150px;
}

.sign-up {
  position: relative;
  bottom: 150px;
}

.sign-up a {
  font-weight: bold;
  text-decoration: none;
  color: #1E9CF1;
}

.login-container h2 {
  font-size: 50px;
  position: relative;
  bottom: 100px;

}

form p {
  color: #757575 ;
  font-size: 25px;
  position: relative;
  bottom: 100px;
}

input {
  display: block;
  width: 500px;
  height: 70px;
  border: none;
  background-color: #EEEEEE;
  border-radius: 5px;
  position: relative;
  bottom: 100px;
  font-size: 20px;
}

::placeholder {
  padding-left: 10px;
}

.forgot-password {
  display: block;
  position: relative;
  bottom: 70px;
  left: 350px;
}

.sign-in {
  width: 500px;
  height: 70px;
  border: none;
  background-color: #1E9CF1;
  color: white;
  border-radius: 5px;
  position: relative;
  bottom: 40px;
  cursor: pointer;
  font-size: 20px;
}

.or-teks {
  position: relative;
  bottom: 20px;
  left: 250px;
}

.google {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}